 <div id="banner" class="navbar navbar-inverse navbar-fixed-top">
        <div class="logo">
            <a href="#">
                <span>Marxcom</span>
            </a>
        </div>
        <ul class="list-inline" id="nav">
            <a class="{% if page.url == '/'%}current{% endif %}" id="aboutMe" href="{{site.baseurl}}/index.html">
                <li>
                    About Me
                </li>
            </a>
            <a class="{% if page.url == '/portfolio.html'%}current{% endif %}" id="portfolio" href="{{site.baseurl}}/portfolio.html">
                <li>
                    Portfolio
                </li>
            </a>
            <a class="{% if page.url == '/contact.html'%}current{% endif %}" id="contactMe" href="{{site.baseurl}}/contact.html">
                <li>
                    Contact Me
                </li>
            </a>
            <a class="{% if page.url == '/blog.html' %}current{% endif %}" id="blog" href="{{site.baseurl}}/blog.html">
                <li>
                    Blog
                </li>
            </a>

        </ul>
    </div>